.watch-anywhere {
    

    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    
    &__text_container {
        padding: 0 2vw;
        animation: appear2 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
        
        h2 {
            margin-bottom: 24px;
        }
    }

    img {
        max-width: 100%;
        animation: appear 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
    }

}

@keyframes appear {
    from {
        opacity: 0;
        translate: -5vw 0;
    }

    to {
        opacity: 1; 
        translate: 0 0;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
        translate: 5vw 0;
    }

    to {
        opacity: 1; 
        translate: 0 0;
        overflow: hidden;
    }
}